/* Header Styles */
header {
    background-color: var(--primary);
    color: white;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}

.logo img {
    height: 50px;
    width: 50px;
}

.logo h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: -40px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 1.5rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: var(--accent);
}

.mobile-menu {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}