@import '../../styles/variable.css';

.contact {
    padding: 4rem 0;
    background-color: #f8f9fa;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.contact-info h3 {
    color: var(--primary);
    margin-bottom: 1.5rem;
}

.contact-details {
    margin-bottom: 2rem;
}

.contact-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.contact-item i {
    color: var(--secondary);
    margin-right: 1rem;
    font-size: 1.2rem;
    margin-top: 0.2rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    font-family: inherit;
}

.contact-form textarea {
    height: 150px;
    resize: vertical;
}

/* Responsive */
@media (max-width: 768px) {
    .contact-container {
        grid-template-columns: 1fr;
    }
}

select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    color: var(--dark);
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-image: linear-gradient(45deg, transparent 50%, var(--secondary) 50%),
    linear-gradient(135deg, var(--secondary) 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
}