services:
  - type: web
    name: gs-inc-attorneys
    env: static
    rootDir: gs-inc-attorneys
    buildCommand: npm ci && npm run build
    staticPublishPath: dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    envVars:
      - key: NODE_VERSION
        value: 22