NODE_ENV=development
PORT=5000

# Database
MONGODB_URI=

# Web origins
CLIENT_URL=http://localhost:5173

# Email settings
EMAIL_SERVICE=gmail
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM="GS Inc. Attorneys <no-reply@gsi-attorneys.co.za>"
EMAIL_ADMIN=admin@gsi-attorneys.co.za

