@import '../variable.css';

.btn-primary {
    background: var(--secondary);
    color: white;
}

.btn-primary:hover {
    background: #a0822d;
}

.btn-secondary {
    background: var(--primary);
    color: white;
}

.btn-secondary:hover {
    background: #152a4a;
}

.btn-outline {
    background: transparent;
    border: 2px solid white;
    color: white;
}

.btn-outline:hover {
    background: white;
    color: var(--primary);
}