@import '../../styles/variable.css';

.footer {
    background-color: var(--primary);
    color: white;
    padding: 3rem 0 1rem;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    margin-bottom: 2rem;
}

.footer-column h3 {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 0.8rem;
}

.footer-column ul li a {
    color: #888;
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;
}

.footer-column ul li a:hover {
    color: var(--secondary);
}

.footer-social-links {
    display: flex;
    gap: 1rem;
}

.footer-social-links a {
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s;
    text-decoration: none;
}

.footer-social-links a:hover {
    color: var(--secondary);
}

.copyright {
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: #ddd;
    font-size: 0.9rem;
}